* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hash {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.show-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);

}

.content-message {
    font-size: 32px;
    color: #fff;
    z-index: 4;
}

.spaces-to-marks {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.spaces-to-mark {
    display: flex;
}

.btn,
.choose-btn {
    width: 70px;
    height: 70px;
    background: 0;
    border: 0;
    cursor: pointer;
    
}

.marker-o,
.marker-x {
    font-weight: 700;
    font-size: 40px;
    color: red;
}

.marker-selected {
    position: absolute;
    left: 8%;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-selections .btn.marker-o {
    margin-left: -20px;
}

.spaces-to-mark:nth-child(1),
.spaces-to-mark:nth-child(2),
.spaces-to-mark:nth-child(4),
.spaces-to-mark:nth-child(5){
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.spaces-to-mark:nth-child(3),
.spaces-to-mark:nth-child(6){
    border-bottom: 1px solid black;
}

.spaces-to-mark:nth-child(7),
.spaces-to-mark:nth-child(8){
    border-right: 1px solid black;
}



